@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&display=swap');
body {
  font-family: 'Cairo', sans-serif;
  padding: 0;
  margin: 0;
}


video {
  width: 100%;
  height: 70vh;
}

body {
  text-align: center;
  padding: 30px;
}